*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: rgb(246, 252, 255);
    font-family: Georgia, 'Times New Roman', Times, serif
}

.to-do-list-container{
    width: 50%;
    height: 100vh;
    margin: 0 auto;
    padding: 0 30px;
    text-align: left;
    background-color: rgb(228, 244, 250);
}

.header{
    padding: 20px;
    font-size: 40px;
    border-bottom: 1px solid rgb(102, 101, 101);
    text-align: center;
}

.form-container{
    margin-top: 30px;
    margin-left: 15%;
}

.filter-container{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15%;
}

.button{
    border: 1px solid rgb(160, 160, 160);
    padding: 5px;
    background: #fff;
    cursor: pointer;
    margin-left: 10px;
}

.button-all{
    margin-left: 15%;
}

.button-all, .button-completed, .button-uncompleted{
    background: rgb(164, 192, 202);
    margin-bottom: 20px;
}

.input{
    padding: 5px;
    border: 1px solid rgb(160, 160, 160);
}

.task-container{
    padding-top: 20px;   
    width: 70%;
    margin: 0 auto;
}

.delete-img{
    width: 20px;
}

.button-delete{
    background-color: rgb(228, 244, 250);
    padding: 0;
    border: none;
    margin-left: 0;
    margin-right: 10px;
}

.task{
    max-width: 100%;
    font-size: 20px;
    font-weight: lighter;
    cursor: pointer;
}

@media screen and (max-width: 1000px){
    .to-do-list-container{
        width: 70%;
    }
}

@media screen and (max-width: 700px){
    .to-do-list-container{
        width: 80%;
    }
    .task-container{
        width: 90%;
    }
    .button-all, .form-container, .filter-container{
        margin-left: 5%;
    }
    
}

@media screen and (max-width: 430px){
    .to-do-list-container{
        width: 100%;
    }
    .task{
        font-size: 18px;
    }
    .button{
        font-size: 11px;
        margin-left: 8px;
    }
    .button-all{
        margin-left: 5%;
    }
    .input{
        padding: 4px;
    }
}
